extends layout

block content
    table
        tr
            th Name
            th Description
            th Price
            th Start date
            th End date
            th -
        each project, index in projects
            tr
                td= project.name
                td= project.description
                td= project.price
                td= project.start
                td= project.end
                td
                    if isLeader
                        a(href='/projects/delete/'+project._id) Delete
                        br
                    if isLeader
                        a(href='/projects/member-addition/' + project._id) Add member
                        br
                    if isLeader
                        a(href='/projects/archive/' + project._id) Archive
                    br
                    a(href='/projects/edit/' + project._id) Edit



